services:
  backend:
    build: ./backend
    container_name: backend
    expose:
      - "3000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  ws-server:
    build: ./ws-server
    container_name: ws-server
    expose:
      - "8080"
    environment:
      BACKEND_URL: http://backend:3000
      JWT_PASSWORD: ${JWT_PASSWORD}
    depends_on:
      - backend
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    expose:
      - "4173"
    restart: unless-stopped
