@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.log-animate {
  animation: logIn 200ms ease-out;
}